.card {
  position: relative;
}

.card img {
  width: 70%;
  display: block;
  border: 7px solid #fff;
  border-radius: 10px;
}

.card .front {
  transform: rotateX(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateX(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateX(90deg);
  transition-delay: 0s;
}

.flipped .matched {
  animation-duration: 1s;
  transform: rotateX(90deg);
  animation-name: disappear;
}
@keyframes disappear {
  from {transform: rotateX(0deg);}
  to {transform: rotateX(90deg);}
}