.App {
  text-align: center;
  color: rgb(220, 115, 115);
}

.App-header {
  background-color: hsl(220, 8%, 30%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.board {
  justify-content: center;
  /* margin-top: 40px;  */
  margin-bottom: 40px; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0px;
  margin-left: 500px; 
  margin-right: 500px;
  padding: 50px;
}

button {
  background: #c23866;
  border: 2px solid rgb(233, 216, 216);
  padding: 6px 12px;
  border-radius: 4px;
  color: rgb(217, 192, 192);
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
  background: #c23866;
  color: rgb(255, 255, 255);
} 



