@import url('https://fonts.googleapis.com/css?family=Varela+Round:regular');

body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: #c23866;
  background-color: antiquewhite;
}
